<.header>
  Listing Products
</.header>

<div id="products-list" phx-update="stream" class="flex gap-4">
  <div
    :for={{dom_id, product} <- @streams.products}
    id={dom_id}
    class="border border-gray-300 rounded p-6 flex flex-col gap-4"
  >
    <div class="text-4xl "><%= product.name %></div>
    <div class="flex text-2xl justify-center"><%= product.price %></div>
  </div>
</div>
